<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section>
    <form action="" style="text-align:center;">
        <input type="text" name="nameQuery" style="text-align:center; width:600px; height:35px; border-radius:40px;"
               placeholder="필요한 강의명을 검색하세요." th:value="${param.nameQuery}">
        <button type="submit" class="btn btn-success">검색</button>
    </form>
    <hr>
    <div style="width:1050px;" class="container">
        <nav class="top-menu">
            <ul>
                <li th:each="category : ${T(online.lecture.entity.category.Category).values()}">
                    <a th:href="|/?category=${category.name()}|" th:text="${category.korName}">개발 · 프로그래밍</a>
                    <ul>
                        <li th:each="subCategory:${category.getSubCategories()}">
                            <a th:href="|/?category=${subCategory.name()}|" th:text="${subCategory.korName}">웹
                                개발</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <hr>
        <h4 th:if="${nowCategory.equals('')}" class="text-info">최신 강의</h4>
        <h4 th:if="${!nowCategory.equals('')}" class="text-info" th:text="${nowCategory.korName}"></h4>
        <div>
            <div class="row">
                <div class="col-md-4" th:each="lecture, iterStat :${recentLecture}">
                    <div class="card" style="height:270px;">
                        <a th:href="|/lecture/info/${lecture.id}|">
                            <img class="card-img-top" style="width:310px;" height="220px;"
                                 th:src="|/lecture/images/${lecture.imageRoute}|">
                        </a>
                        <div class="card-body">
                            <a class="card-title" style="text-align:center;" th:href="|/lecture/info/${lecture.id}|"
                               th:text="${lecture.name}"></a>
                        </div>
                    </div>
                    <div th:if="${iterStat.count} %3 == 0"></div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" style="text-align:center;">
            <ul class="pagination">
                <li class="page-item" th:if="${firstPage!=1}">
                    <a th:href="|/?category=${nowCategory}&nameQuery=${nameQuery}&page=${firstPage-1}|">＜이전</a>
                </li>
                <li class="page-item" th:each="num : ${#numbers.sequence(firstPage,lastPage)}">
                    <a class="page-link" th:if="${page!=num&&num<=totalPage}"
                       th:href="|/?category=${nowCategory}&nameQuery=${nameQuery}&page=${num}|" th:text="|${num} |"></a>
                    <span class="page-link" style="background-color: aqua;" th:if="${page==num&&num<=totalPage}" th:text="${num}"></span>
                </li>
                <li class="page-item" th:if="${lastPage<totalPage}">
                    <a class="page-link"
                       th:href="|/?category=${nowCategory}&nameQuery=${nameQuery}&page=${lastPage+1}|">다음＞</a>
                </li>
            </ul>
        </nav>
        </div>
</section>
</body>
</html>