<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<section class="container">
    <h1 class="text-primary">로그인</h1>
    <div style="width:500px">
        <hr>
        <form action="" th:object="${form}" method="post">
            <div style="text-align:center; width:500px;">
                <table style="width:500px;">
                    <tr>
                        <th style="padding:20px; text-align:center;"><input type="radio" name="division" value="basic" checked="checked">일반</th>
                        <th style="padding:20px; text-align:center;"><input type="radio" name="division" value="teacher">강사</th>
                    </tr>
                </table>
            </div>
            <h4><span>아이디</span></h4>
            <input class="form-control" type="text" th:field="*{userId}">
            <h4><span>비밀번호</span></h4>
            <input class="form-control" type="password" th:field="*{password}">
            <hr>
            <button style="width: 500px" type="submit" class="btn btn-success">로그인 하기</button>
        </form>
        <hr>
        <div style="text-align:center">
            <a href="/member/pw-search">비밀번호 찾기</a> |
            <a href="/member/id-search">아이디 찾기</a> |
            <a href="/member/join">회원가입</a>
        </div>
    </div>
</section>
</body>
</html>