<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>업데이트 비밀번호 확인</title>
</head>
<body>
<section>
    <div style="width:500px;" class="container">
        <h1 class="text-primary">회원정보 수정</h1>
        <hr>
        <form action="" method="post">
            <span><label><h4>비밀번호</h4></label></span>
            <input type="password" name="password" class="form-control">
            <hr>
            <button type="submit" class="btn btn-success" style="width: 470px;">확인</button>
        </form>
    </div>
</section>
</body>
</html>