<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>강의 상세 정보</title>
</head>
<body>
<section>
  <div class="container">
    <button th:if="${!enrolment&&session.teacherId==null}" type="button" class="btn btn-success" th:onclick="|location.href='/member/Enrolment/${lecture.id}'|">
      수강신청
    </button>
    <button th:if="${session.adminId!=null&&!lecture.pub}" type="button" class="btn btn-success" th:onclick="|location.href='/admin/pubTrue/${lecture.id}'|">공개</button>
    <button th:if="${session.adminId!=null&&lecture.pub}" type="button" class="btn btn-success" th:onclick="|location.href='/admin/pubFalse/${lecture.id}'|">비공개</button>
    <h2 class="text-info" th:text="${lecture.name}"></h2>
    <p th:text="${lecture.intro}"></p>
    <table class="table">
    <tr th:if="${enrolment && session.adminId==null && session.teacherId==null}">
      <th colspan="2"><a th:href="|/lecture/video/replay/${lecture.id}|" type="button" class="btn btn-success">시청재게</a></th>
    </tr>
    <tr><td colspan="2">목차</td></tr>
    <tr th:each="video, iterStat : ${lecture.videos}" >
      <td th:text="${iterStat.count}">회차 명</td>
      <td th:if="${!enrolment}" th:text="${video.name}"></td>
      <td th:if="${enrolment}"><a th:href="|/lecture/video/${video.id}|" th:text="${video.name}"></a></td>
    </tr>
  </table>
    <button style="text-align:right;" th:if="${session.adminId!=null}" type="button" class="btn btn-danger" th:onclick="|location.href='/admin/deleteLecture/${lecture.id}'|">삭제</button>
    <button th:if="${enrolment&&session.adminId==null&&session.teacherId==null}" class="btn btn-primary" type="button" th:onclick="|location.href='/lecture/review-write/${lecture.id}'|">수강평 작성</button>
    <button class="btn btn-primary" type="button" th:onclick="|location.href='/lecture/review/read/${lecture.id}'|">수강평 보기</button>
  </div>
</section>
</body>
</html>
