<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>강의 상세 정보</title>
</head>
<body>
<section>
  <div class="container">
  <h1 class="text-info">강의 상세 정보</h1>
    <button th:if="${!enrolment}" type="button" class="btn btn-success" th:onclick="|location.href='/member/Enrolment/${lecture.id}'|">
      수강신청
    </button>
  <table class="table">
    <tr>
      <td>강의 명</td>
      <td th:text="${lecture.name}"></td>
    </tr>
    <tr>
      <td>강의 소개</td>
      <td th:text="${lecture.intro}"></td>
    </tr>
    <tr><td colspan="2">목차</td></tr>
    <tr th:each="video : ${lecture.videos}" >
      <td>회차 명</td>
      <td th:if="${!enrolment}" th:text="${video.name}"></td>
      <td th:if="${enrolment}"><a th:href="|/lecture/video/${video.id}|" th:text="${video.name}"></a></td>
    </tr>
  </table>
  </div>
</section>
</body>
</html>
