<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>강의 재생</title>
</head>
<body>
<section>
    <div style="width:800px;" class="container">
        <h3 th:text="${video.name}" class="text-primary"></h3>
    <hr>
        <iframe width="770px" height="500px"
                th:src="${video.videoRoute}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <hr>
        <a th:href="|/lecture/prev-video/${video.lecture.id}/${video.id}|" class="btn btn-info">이전 화</a>
        <a th:href="|/lecture/next-video/${video.lecture.id}/${video.id}|" class="btn btn-info">다음 화</a>
    </div>
</section>
</body>
</html>