<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>강의 재생</title>
</head>
<body>
<section>
    <div style="width:900px;" class="container">
        <h3 th:text="${video.name}" class="text-primary"></h3>
        <hr>
        <div id="player"></div>

        <video th:if="${video.videoRoute.substring(0,5)!='https'}" width="870px" height="500px" id="video-player"
               th:src="|/lecture/videoFile/${video.videoRoute}|" autoplay="autoplay" controls="controls">
        </video>
        <hr>
        <div style="text-align:center;">
            <a th:href="|/lecture/prev-video/${video.lecture.id}/${video.id}|" class="btn btn-info">이전 화</a>
            <a th:href="|/lecture/info/${video.lecture.id}|" class="btn btn-info" th:text="|강의정보/목차|"></a>
            <a th:href="|/lecture/next-video/${video.lecture.id}/${video.id}|" class="btn btn-info">다음 화</a>
        </div>
    </div>

    <script th:if="${video.videoRoute.substring(0,5)=='https'}" src="https://www.youtube.com/iframe_api"></script>
    <script th:if="${video.videoRoute.substring(0,5)=='https'}" th:inline="javascript">
        var player;
        var duration = 0;
        var videoRoute = [[${video.videoRoute}]];
        var videoRouteId = videoRoute.split('/').pop();
        var currentTime = 0;
        var watched = false;
        var videoId = [[${video.id}]];
        var lastWatchedVideoTime = [[${lastWatchedVideoTime}]];

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: videoRouteId,
                width: 870,
                height: 500,
                playerVars: {
                    'start': parseInt(lastWatchedVideoTime)
                },
                events: {
                    'onReady': onPlayerReady,
                }
            });
        }

        function log() {
            if (!watched) {
                currentTime = player.getCurrentTime();
                // console.log(`총 재생 시간 : ${duration}`);
                // console.log(`현재 재생 시간 : ${currentTime}`);
                if (currentTime / duration >= 0.99) {
                    console.log("영상 시청 완료");
                    fetch(`/lecture/video/watched/` + videoId, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    watched = true;
                }
            }
        }

        function onPlayerReady(event) {
            duration = player.getDuration();
            player.playVideo();
            setInterval(log, 1000);
        }

        window.onbeforeunload = function () {
            // 전송할 데이터를 객체로 생성
            const data = {
                videoId: videoId,
                currentTime: currentTime
            };

            // PUT 요청 보내기
            fetch(`/lecture/video/lastWatchedVideo/save`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // 데이터를 JSON 형식으로 변환하여 전송
            })
            watched = true;
        }
    </script>

    <script th:if="${video.videoRoute.substring(0,5)!='https'}" th:inline="javascript">
        // video 태그에서 id가 video-player인 요소를 가져옵니다.
        var video = document.getElementById("video-player");
        var watched = false;
        var videoId = [[${video.id}]];
        var currentTime = 0;
        var lastWatchedVideoTime = [[${lastWatchedVideoTime}]] != null ? [[${lastWatchedVideoTime}]] : 0;
        video.currentTime = lastWatchedVideoTime;
        video.addEventListener("canplay", function () {
            // 총 재생시간을 가져옵니다. (초 단위)
            var duration = video.duration;

            // 현재 재생 시간을 가져옵니다. (초 단위)
            currentTime = video.currentTime;

            function updateTime() {
                currentTime = video.currentTime;
            }

            function log() {
                if (!watched) {
                    // console.log(`총 재생 시간 : ${duration}`);
                    // console.log(`현재 재생 시간 : ${currentTime}`);
                    if (currentTime / duration >= 0.99) {
                        console.log("영상 시청 완료");
                        fetch(`/lecture/video/watched/` + videoId, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        })
                        watched = true;
                    }
                }
            }

            video.addEventListener("timeupdate", updateTime)
            setInterval(log, 1000);
        });

        window.onbeforeunload = function () {
            // 전송할 데이터를 객체로 생성
            const data = {
                videoId: videoId,
                currentTime: currentTime
            };

            // PUT 요청 보내기
            fetch(`/lecture/video/lastWatchedVideo/save`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // 데이터를 JSON 형식으로 변환하여 전송
            })
            watched = true;
        }
    </script>
</section>
</body>
</html>